.login-page {
  display: flex;
  background: #000000;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: flex-end;
  background-image: url("/img/backhroud_login.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center left;
  .card-login {
    height: auto;
    padding: 2rem;
    .card {
      background: #fefefe 0% 0% no-repeat padding-box;
      border-radius: 22px;
      height: 100%;
      width: 511px;
      display: flex;
      justify-content: center;
      padding: 2rem;
      .forgotPassword {
        color: rgba(0, 0, 0, 0.91);
        font-size: 14px;
      }

      form {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 345px;
      }

      .btn {
        background: #d6d6d6;
        border-color: #d6d6d6;
        width: 100%;
        display: flex;
        opacity: 1 !important;
        justify-content: center;
        .p-button-label {
          color: #1d1d1d;
        }
      }
      .btn.active {
        background: #000000;
        .p-button-label {
          color: #ffffff;
        }
      }
    }
  }
}
